<body class="bg-light">
  <header>
    <%= render 'layouts/navbar' %>
  </header>
  <main>

    <div class="container text-center">
      <span class="cripping-header sub-header">admin panel</span>
      <span class="cripping-header2 sub-header">admin panel</span>

      <div class="text-center box-med box-rounded border-fill bg-white mt-5 p-5">
        <%= render 'admin/nav_links' %>
          <p>showing users</p>
      </div>
    </div>
  </main>
  <footer class="footer">©2022 CRIPPING_CG</footer>
</body>