<body class="bg-light">
  <header>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
  </header>
  <main>

    <div class="container">
      
      <div class="text-center mx-auto" style="max-width: 80%" >
        <span class="cripping-header">about</span>
        <span class="cripping-header2">about</span>

        <div class="mb-3 p-5 text-start box-rounded border-fill bg-white">
          <p>Cripping_CG is a collaborative archival project using motion-capture and 3D modeling software to create digital assets representative of disability. These open-source assets will be made *partially* available on this website for others to contribute and/or use in their own projects through a proposal process. Please use the contact form to get in touch about submitting a proposal to participate.</p>

          <p class="mb-0">Cripping_CG is supported by the University of California, Los Angeles Conditional Studio and advised by UCLA Design|Media Arts faculty Lauren Lee McCarthy and Jenna Caravello.</p>
        </div>

        <span class="cripping-header">who_we_are</span>
        <span class="cripping-header2">who_we_are</span>

        <div class="text-center mx-auto">
          <div class="d-flex mx-auto">
            <%= image_tag "layout/natalee_pic_1.jpg", class: "about-card-img border-fill", alt: "Natalee Decker seated with a red cat" %>
            <div class="about-card-text">
              <h4 class="mt-5"><strong>Natalee Decker</strong></h4>
              <p class="text-start px-4 my-auto"><a href="https://www.instagram.com/crip_fantasy/">Natalee Decker</a> (they/them) is a Chicago born Los Angeles based artist currently pursuing an undergraduate degree at the University of California, Los Angeles in Design|Media Arts and Disability Studies. Via a multidisciplinary practice, they investigate disability aesthetics, technology, and crip fantasy. Their recent work uses 3D computer graphics to creatively reimagine the mobility devices - walkers, scooters, wheelchairs, canes - they use each day, imbuing them with fluid impractical form, vivid celebratory color, and questions about desirability.</p>
            </div>
          </div>
          
          <div class="d-flex my-5 mx-auto">
            <%= image_tag "layout/cielo.jpeg", class: "about-card-img border-fill", alt: "Cielo Saucedo seated on staircase" %>
            <div class="about-card-text">
              <h4 class="mt-5"><strong>Cielo Saucedo</strong></h4>
              <p class="text-start px-4 pb-3 my-auto"><a href="https://www.instagram.com/rare_earth_mineral/">Cielo Saucedo</a> is a disabled artist from a family of migrant farm workers. They work with computer generated imagery, non-fiction writing and sculpture to disrupt notions of humanism and make space for disabled mind-bodies and ecologies. Technology mediates their artistic production with the wax and wane of their ability. From this direct response to their body, an unprivileged mutuality between ecological space and virtual experience is offered. In their work video games trace histories of oil infrastructure and birch trees are woven into sand dunes. They have shown work in New York, Chicago, London and Quito. They participate in the artist collective SIQ (Sick in Quarters) and are a founding member of W.E., an ecological action group started in Chicago. They received their BFA from School of the Art Institute, Chicago and are an MFA candidate at UCLA.</p>
            </div>
          </div>
        </div>

        <div>
          <div class="mb-5 p-4 box-rounded border-fill">
            <h4><strong>additional collaborators</strong></h4>
            <p>Krista Ramirez-Villatoro, Rowan O'Bryan, Emily Lucid</p>
          </div>
        </div>
        
      </div>
    </div>
  </main>
  <footer class="footer">©2022 CRIPPING_CG</footer>
</body>