<body class="bg-light">
  <header>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
  </header>
  <main>

    <div class="container">
      
      <div class="text-center mx-auto" style="max-width: 90%">
        <span class="cripping-header">about</span>
        <span class="cripping-header2">about</span>
        
        <div class="mb-3 p-5 text-start box-rounded border-fill bg-white">
          <p>Cripping_CG is a collaborative archival project using motion-capture and 3D modeling software to create digital assets representative of disability. These open-source assets will be made *partially* available on this website for others to contribute and/or use in their own projects through a proposal process. Please use the contact form to get in touch about submitting a proposal to participate.</p>

          <p class="mb-0">Cripping_CG is supported by the University of California, Los Angeles Conditional Studio and advised by UCLA Design|Media Arts faculty Lauren Lee McCarthy and Jenna Caravello.</p>
        </div>

        <span class="cripping-header">who_we_are</span>
        <span class="cripping-header2">who_we_are</span>

      </div>
    </div>
  </main>
  <footer class="footer">©2022 CRIPPING_CG</footer>
</body>