<body class="bg-light">
  <header>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
  </header>
  <main>

    <div class="container">
      
      <div class="text-center mx-auto" style="max-width: 90%">
        <span class="cripping-header">about</span>
        <span class="cripping-header2">about</span>
        
      </div>
    </div>
  </main>
  <footer class="footer">©2022 CRIPPING_CG</footer>
</body>