  <body class="bg-dark">
    <header>
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/alerts' %>
    </header>
    <main>
      <div class="container text-center">
        <%= image_tag "layout/ccg_bannerlogo_withglow.png", class: 'banner-logo' %>
        
        <div class="my-5 p-5 box-rounded border-fill text-start mx-auto", style="max-width: 85%">

          <p><strong>CRIPPING_CG is a collaborative archive of digital disabled embodiment - utilizing motion-capture and 3D modeling technology to create digital assets as record and resource.</strong></p>

          <p>The construction of 3D computer generated worlds - within video games, simulated environments/virtual reality, animation, film VFX, digital art - depend on libraries of digital objects (assets), avatars, and animated motion. These can combine to offer hopeful and fantastical potentiality, but too often land within a projected normativity that mirrors real world biases and patterns of exclusion. The disability community has long used various digital spaces as refuge and resource, but to search for disability in computer graphics (CG) libraries either renders few results or stigma laden distortions: a wheelchair is available for download in a horror game pack, an atypical gait is animated for zombie character design, injury becomes a prop for war fantasies, assistive devices are hyper-medicalized or inaccurately depicted.</p>

          <p>Cripping_CG promotes equity and authenticity within this context by creating a resource for digital crip worldbuilding and the opportunity for a more expansive and self-directed disability aesthetic within media arts. Disabled community members are asked to collaborate in populating the library with avatars, animation rigs, and 3D objects as unique personifications of disabled identity. These open-source assets will be made available for conditional use on a website for others to view, contribute, and use in their own projects.</p>

          <p>To inform the 3D assets, the archive combines interview questions with a bespoke “terms of use” agreement to create dimensional portraits of digital disabiled embodiment and encourage participant agency. Via an antagonistic approach to traditional methods of “documentation” and “capture” we encourage participants to decide how/in what ways their bodies operate in digital space.</p>
        </div>

      </div>
    </main>
    <footer class="footer">©2022 CRIPPING_CG</footer>
  </body>




