<body class="bg-light">
  <header>
    <%= render 'layouts/navbar' %>
  </header>
  <main>

    <div class="container text-center mb-5">
      <span class="cripping-header">contact_us</span>
      <span class="cripping-header2">contact_us</span>

      <div class="p-5 box-rounded border-fill text-start mx-auto", style="max-width: 80%;" >
        <p class="fs-5"><strong>Please get in touch if you...</strong></p>
        <ul>
          <li>are interested in learning more about the project</li>
          <li>would like to contribute to the archive</li>
          <li>would like to submit a proposal to use assets from the archive</li>
          <li>have any questions or feedback for us</li>
        </ul>
        <p> 💜 💜 💜 </p>

        <br/>
        <%= render "form", contact: @contact %>
      </div>
    </div>
  </main>

  <footer class="footer">©2022 CRIPPING_CG</footer>
</body>