<div id="<%= dom_id resource %>">

  <div class="card border-fill box-rounded bg-white my-1 mx-5" style="width: 30vw;">
    <div class="card-body">
      <p class="fs-5">
        <a href="<%= resource.link %>"><strong><%= resource.name %></strong></a>
      </p>
    </div>
  </div>


</div>
