<div id="<%= dom_id resource %>">

  <div class="card border-fill box-rounded bg-white my-5 p-2" style="max-width: 25rem;">
    <div class="card-body">
      <p>
        <a href="<%= resource.link %>"><strong><%= resource.name %></strong></a>
      </p>
    </div>
  </div>


</div>
