<body class="bg-light">
  <header>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
  </header>
  <main>

    <div class="container text-center">
      <span class="cripping-header">resource_web</span>
      <span class="cripping-header2">resource_web</span>

      <div class="border-fill box-rounded text-start mx-auto p-4", style="max-width: 90%" >
        <p class="px-3 mb-0">The following list includes projects, people, and writing we have been inspired by, hope to be in conversation with, or have otherwise found valuable in the development of Cripping_CG. We hope to employ a citational practice which highlights the interdependence of creative production.</p>
      </div>

      <div class="upload-gallery justify-content-around mx-auto">
        <% @resources.each do |resource| %>
          <div class="mt-5">
            <%= render resource %>
          </div>
        <% end %>
      </div>
    </div>

  </main>
  <footer class="footer">©2022 CRIPPING_CG</footer>
</body>