<body class="bg-light">
  <header>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
  </header>
  <main>

    <div class="container">
      <div class="box-rounded text-center">

        <div class="my-5">
          <%= render 'search/form' %>
        </div>

        <div class="upload-gallery justify-content-around mx-auto">
          <% @uploads.shuffle.each do |upload| %>
            <% if upload.user.username != 'admin' %>
              <% if upload.id != 42 && upload.id != 38 %>
                <div id="uploads">
                  <%= render upload %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        
      </div>
    </div>
  </main>
  
  <footer class="footer">©2022 CRIPPING_CG</footer>
</body>

