<body class="bg-light">
  <header>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
  </header>
  <main>

    <div class="container text-center">
      <div>
        <span class="cripping-header">manage_assets</span>
        <span class="cripping-header2">manage_assets</span>
      </div>

      <%= render 'search/form' %>

      <div class="upload-gallery justify-content-around mx-auto">
        <% @user_uploads.each do |upload| %>
          <div class="mt-5">
            <%= render 'uploads/upload_manage', upload: upload %>
          </div>
        <% end %>
      </div>

    </div>
  </main>
  <footer class="footer">©2022 CRIPPING_CG</footer>
</body>




