<body class="bg-light">
  <header>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
  </header>
  <main>

    <div class="container text-center">
      <div>
        <span class="cripping-header">upload asset</span>
        <span class="cripping-header2">upload asset</span>
      </div>
      
      <div class="text-center box-med box-rounded border-fill p-5">
        <%= render "form", upload: @upload %>
      </div>
    </div>
  </main>
  <footer class="footer">©2022 CRIPPING_CG</footer>
</body>